.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(79deg, #7439db, #c66fbc 48%, #f7944d);
}

.center {
  background-image: linear-gradient(79deg, #7439db, #c66fbc 48%, #f7944d);
  display: flex;
  /* margin: auto 0; */
  text-align: center;
  align-self: center;
  justify-content: center;
  flex-direction: column;
  /* min-height: 60vh; */
}

h1 {
  font-size: 50px;
  
}



.section {
  background-image: linear-gradient(79deg, #7439db, #c66fbc 48%, #f7944d);
  min-height: 100vh;
  display: flex;
}



p {
  font-size: 30px;
  color: white;
}

span-one {
  color: white;
  font-size: 34px;
}

.auth-form-container, .login-form {
  display: flex;
  flex-direction: column;
}

label {
  text-align: left;
  padding: 0.25rem 0;
}


input {
  margin: 1.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;

}

button {
  border: none;
  background-color: rgb(225, 239, 239);
  font-weight: 500;
  font-size: 15px;
  padding: 10px 30px;
  border-radius: 10px;
  cursor: pointer;
}


.link-btn {
  background: none;
  color: white;
  text-decoration: underline;
}

.flex {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

ul {
  list-style-type: none;
  text-decoration: none;
}

Link {
  text-decoration-style: none;
}

li li:hover li:active {
    color: blue;
}